<footer id="contacto" class="bg-red-900 text-white  py-4 justify-items-center">
  <p class="text-sm sm:text-base ">@ 2024 Birriería Lucas. Todos los derechos reservados.</p>
  <p class="text-sm sm:text-base ">Calle 123, Colonia Centro, Ciudad de México</p>
  <p class="text-sm sm:text-base ">Whatsapp: 312 137 5312</p>
</footer>
