<footer id="contacto" class="bg-red-900 text-white  py-4 justify-items-center">
  <p class="text-sm sm:text-base ">@ 2024 Birriería Lucas. Todos los derechos reservados.</p>
  <p class="text-sm sm:text-base ">Domicilio Conocido, El Faro de Bucerías, Mich.</p>
  <p class="text-sm sm:text-base ">Whatsapp: 312 137 5312</p>
</footer>
