<section id="inicio" class="h-[70vh] bg-cover bg-center flex items-center justify-center text-white p-5" style="
width: 100%;
height: 35vh;
background-size: cover;
repeat: no-repeat;
background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../public/imgenes/resturante.jpeg');">
  <div class="text-center px-4">
    <h1 class="text-4x3 sm:text-5x2 lg:text-6x2 font-bold" style="padding-top: 20px;">BIRRIERÍA LUCAS</h1>
    <p class="text-lg sm:text-xl mt-2">3 años de experiencia en cada bocado</p>
  </div>
</section>
